* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

header {
  padding: 0px 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 50px;
  color: #fff;
  background-color: #525250;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main {
  background-color: #eee;
}

.countries-container {
  margin-top: 50px;
  padding: 20px 50px;
}

.countries {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  background-color: #525250;
  color: #f3cfcd;
  margin-bottom: 30px;
  text-align: center;
  transition: transform 250ms ease;
}

.country:hover {
  transform: scale(1.1);
}

.country img {
  max-width: 200px;
}

.country-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.country-modal {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  width: 80%;
  height: 80%;
  box-shadow: 0px 0px 0px 200px rgba(0.4, 0.4, 0.4, 0.5);
  display: flex;
  flex-direction: column;
}

.modal-header {
  flex: 1;
  width: 100%;
  background-color: #525250;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.modal-body {
  flex: 9;
  padding: 0px 20px;
  margin-top: 10px;
}

.modal-body h2 {
  margin: 5px 0px;
  border-bottom-color: #fb6762;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.modal-body p {
  margin: 5px 0px;
  font-size: 1.333em;
}

.close-button {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #525250;
  background-color: #eee;
  border-radius: 5px;
  transition: padding 250ms ease;
}

.close-button:hover {
  padding: 10px;
}

.filter-button {
  margin: 0px 5px;
}
